<h1>Hello, {{.Name}}</h1>
<h1>You`re dog's name is {{.Dog.Name}}</h2>
<h1>You`re age is {{.Age}}</h2>

{{range .Slice}}
    {{.}}
{{end}}
<!-- <script>
    var m = {{.Dog}};
</script>-->
<!-- lesson 20 Home work -->